body {
  background-color: black;
  color: rgba(200, 200, 200);
  text-align: center;
}

.loading {
  display: flex;
  width: 100%;
}

.loading img{
  margin: 0 auto;
}

.container-filters {
  margin: 0 auto;
}



table th {
  border: solid 1px white;
  border-collapse: collapse;
}

input {
  padding: 10px;
}